*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
   
    background-color: #f5dcdb;
    font-family:"Jost", monospace;
}



.logo {
    font-family: "Passion One", sans-serif;
    color: #595194;
    align-items: center;
    font-size: 50px;
}

.logo:hover { 
    background: linear-gradient(315deg, hsla(247, 52%, 38%, 1) 7%, hsla(342, 93%, 56%, 1) 59%, hsla(40, 67%, 58%, 1) 81%);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-logo 2.5s linear infinite;
}

@keyframes animate-logo {
    to {
        background-position: 200%;
    }
}


nav {
    display: flex;
    background-color: #b9727b;
    justify-content: space-evenly; 
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100; 
    width:100% ;
}

nav div ul {
    display: flex;
    
    list-style: none;
    width: 100%;
}


nav ul li {
    position: relative;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #b9727b;
    list-style: none;
    display: none;
    z-index: 20;
}

.dropdown li {
    text-align: center;
    padding:8px 5px;

}

nav ul li:hover .dropdown {
    display: block; 
}

.dropdown li:hover {
    background-color: #be8382;
    color: #b9727b;
}


/*Section Hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        180deg,
        rgba(185,45,85, 0.438),
        rgba(238, 1, 68, 0.438)
    );
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
     z-index: 1;
}

.video-background {
position: absolute;
z-index: -1;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
min-width: 100%;
min-height: 100%;
opacity: 0.4;
}

.hero h1 {
    
    font-size: 90px;
    font-family: "Marcellus", system-ui;
    text-shadow: black;
    margin-bottom: 15px;
}

.hero__btn button{
    padding: 25px;
    width: 200px;
    border: #595194 solid 3px;
    border-radius: 10px;
    margin: 15px;
    font-size: large; 
  
}

.hero__btn button a {
    text-decoration: none;
    color: #342e64;
    text-shadow: black;
}

.hero__btn button:hover{

    border: #0f046b solid 3px; 
    background: linear-gradient(315deg, hsla(247, 52%, 38%, 1) 7%, hsla(342, 93%, 56%, 1) 59%, hsla(40, 67%, 58%, 1) 81%);
 
          background-size: 200%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate-button 2.5s linear infinite;
    }
    
    @keyframes animate-button {
        to {
            background-position: 200%;
        }
    }



/* Page produit*/
.page-produits nav {
    border-top: 5px solid #595194;
    border-bottom: 5px solid #595194;
}

.page-produits nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.page-produits button {
    padding: 10px;
    border: 3px solid #595194;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.page-produits h1 {
    text-align: center;
    padding: 15px;
}

.page-produits-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.produit-vedette-titre,
.produit-vedette p,
.produit-vedette-prix {
    text-align: center;
}

.produit-vedette-prix {
    font-weight: bolder;
}

.produit-vedette button {
    margin: 20px auto;
    padding: 20px;
    background: #ac3444;
    color: white;
    font-size: 20px;
    border: none;
    display: block;
    cursor: pointer;
}


.produit-vedette button:hover {
    background: #ac3444; 
}

.produit-liste {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px; 
    padding: 20px;
    justify-items: center; 
}

.produit-liste-item {
    border: none;
    border-radius: 10px;
    margin: 15px;
    background: #f1c3c3;
    width: 300px;
    height: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produit-liste-img {
    width: 80%;
    height: auto;
    margin: 15px 0;
}

.produit-liste-titre {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.produit-liste-text {
    padding: 5px;
    font-size: 16px;
}

.produit-liste-prix {
    font-weight: bolder;
    font-size: 18px;
    margin-top: auto; 
}



.hero, .page-produits, .page-promotion, .page-succursalles {
    padding-top: 60px; 
}



/* Popup  */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    z-index: 100;
  }
  
  /* Popup content */
  .popup-content {
    background:  #eba8cf;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  .popup-content h2 {
    margin: 0 0 10px;
    color: #250016;
  }
  
  .popup-content p {
    margin-bottom: 15px;
  }
  
  .popup-content input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b43d82;
    border-radius: 4px;
  }
  
  .popup-content button {
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #b43d82;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background-color: #661544;
  }
  
  
  .material-symbols-outlined{
    position: relative;
    top: 5px;
    right: 10px;
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #250016;
    border: 1px solid #250016;
    border-radius: 4px;
  }

  .invisible {
    display: none;
}

/* Page promotion */

.page-promotion h1 {
    text-align: center;
}
/* Carousel */ 

.section-carousel {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

.carousel-container {
    position: relative;
    display: inline-block; 
}

.container-image-principale {
    display: block;
    width: 100%;
    border-radius: 15px;
}

.carousel-titre, .carousel-texte {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 2; 
}

.carousel-titre {
    top: 30%; 
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.carousel-texte {
    bottom: 50%; 
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

/* Button styles */
.arriere, .avant {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3; 
}

.arriere {
    left: 10px;
}

.avant {
    right: 10px;
}